@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white font-sans text-gray-900 antialiased;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-brand-500 ring-offset-2;
  }
}
